@model IEnumerable<GestionNotasCunor.Models.curso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Curso", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Curso
        </th>
        <th>
            Créditos
        </th>
        <th>
            Ciclo
        </th>
        <th>
            Característica
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_ciclo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caracteristica.nom_caracteristica)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_curso }, new { @class = "btn btn-primary"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_curso }, new { @class = "btn btn-info"}) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_curso }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
