@model GestionNotasCunor.Models.actividad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Actividad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_actividad)
        </dd>

        <dt>
            Valor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asign_curso.curso.nom_curso)
        </dd>

        <dt>
            Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asign_curso.carrera.nom_carrera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_actividad }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
