@model GestionNotasCunor.Models.asign_alumno

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/combobox.css" rel="stylesheet" />

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <h4>Asignación Alumno</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-3">
            @Html.Label("Carnet", new { @class = "control-label col-md-12" })
            @*@Html.LabelFor(model => model.id_alumno, "id_alumno", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("id_alumno", null, htmlAttributes: new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.id_alumno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.Label("Ciclo", new { @class = "control-label col-md-12" })
            @*@Html.LabelFor(model => model.ciclo, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ciclo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ciclo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.Label("Carreras", new { @class = "control-label col-md-12" })
            @*@Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("id_carrera", null, htmlAttributes: new { @class = "form-control"})
                <span id="span1"></span>
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.Label("Cursos", new { @class = "control-label col-md-12" })
            @*@Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10" id="CursosID">*@
                @*@Html.DropDownList("id_asign_curso", null, htmlAttributes: new { @class = "form-control combobox"})*@
            @*</div>*@

            @*<select id="St" class="form-control col-md-10">*@
            <select id ="St" class="form-control col-md-10">

            </select>
        </div>
    </div>

    @*<button type="button" class="btn btn-primary" onclick="busqueda();">Buscar</button>*@

    <div class="row">
        <button type="button" class="btn btn-success" onclick="agregarLinea();">Agregar Línea</button>
        <table class="table table-bordered table-condensed table-hover" id="tblDetalles">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td><input type="text" class="form-control" name="detalle_asign[0].id_curso" /></td>
                </tr>*@
            </tbody>
        </table>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}


<div>
    @Html.ActionLink("Lista de asignaciones", "Index")
</div>

@* Referenciando la librería de jqery para el ComboBox con autocompletado *@
@*<script src="~/Scripts/jquery.combobox.js"></script>*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script>
    $(function () {
        $("#id_carrera").change(function () {
            $.get("/AsignacionAlumno/busqCurso", { idCarrera: $("#id_carrera").val() }, function (data) {
                $("#St").empty();
                $.each(data, function (index, row) {
                    $("#St").append("<option value ='" + row.id_asign_curso + "' >" + row.nom_curso + "</option>")
                });
            });
        });
    });
</script>

<script>
    $(function () {
        var cont = 0;
        $("#St").change(function () {
            $.get("AsignacionAlumno/Create"), {}
            linea = '<tr>' +
                    '<td><input type="text" class="form-control" name="detalle_asign[' + cont + '].id_asign_curso" value="' + $("#St").val() + '"/></td>' +
                    '<td><input type="text" class="form-control" value="' + $("#St option:selected").text() + '"/></td>' +
                    '</tr>';
            $('#tblDetalles > tbody').append(linea);
            cont++;
        })
    })
</script>