@model GestionNotasCunor.Models.asign_alumno

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Asignación Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Carnet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.carnet)
        </dd>   
        
        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.nombres)
            @Html.DisplayFor(model => model.alumno.apellidos)
        </dd>     
        
        <dt>
            Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.nom_carrera)
        </dd>

        <dt>
            Ciclo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciclo)
        </dd>

        <dt>
            Año
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>


<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Código</th>
            <th>Curso</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach(var item in Model.detalle_asign) {
                <tr>
                    <td>@item.asign_curso.curso.cod_curso</td>
                    <td>@item.asign_curso.curso.nom_curso</td>
                </tr>
        }}
    </tbody>
</table>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_asign_alumno }) |
    @Html.ActionLink("Lista de asignaciones", "Index")
</p>