@model GestionNotasCunor.Models.asign_curso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Está seguro que desea eliminar?</h3>
<div>
    <h4>asign_curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.salon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carrera.nom_carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.nom_carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catedratico.colegiado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catedratico.colegiado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curso.cod_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.cod_curso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
