@model GestionNotasCunor.Models.asign_curso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cursos asignados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Salón
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salon)
        </dd>

        <dt>
            Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.nom_carrera)
        </dd>

        <dt>
            Colegiado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catedratico.colegiado)
        </dd>

        <dt>
            Catedrático
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catedratico.nombres)
            @Html.DisplayFor(model => model.catedratico.apellidos)
        </dd>

        <dt>
            Código de curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.cod_curso)
        </dd>

        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso.nom_curso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
