@{
    ViewBag.Title = "Página principal";
}
<link href="~/Content/estilos.css" rel="stylesheet" />

<body>
    <div class="text-primary text-center">
        <h1>Control Académico - CUNOR</h1>
    </div>
    <div class="main">
        <div class="slides text-center">

            <img src="~/img/4.jpg" alt"">
            <img src="~/img/3.jpg" alt"">
            <img src="~/img/2.jpg" alt"">
            <img src="~/img/1.jpg" alt"">
        </div>
    </div>

    @section Scripts{
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.slides.js"></script>
    
        <script>
        $(function(){
            $(".slides").slidesjs({
                width: 1200,
                height: 200,
                play: {

                active: false,
                // [boolean] Generate the play and stop buttons.
                // You cannot use your own buttons. Sorry.
                effect: "slide",
                // [string] Can be either "slide" or "fade".
                interval: 5000,
                // [number] Time spent on each slide in milliseconds.
                auto: true,
                // [boolean] Start playing the slideshow on load.
                swap: true,
                // [boolean] show/hide stop and play buttons
                pauseOnHover: true,
                // [boolean] pause a playing slideshow on hover
                restartDelay: 2500
                // [number] restart delay on inactive slideshow

            }
      });
    });
        </script>
    }
    <div class="btn-group-vertical pull-left jumbotron col-md-4">
        
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Carreras")'">Carreras</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Cursos")'">Cursos</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Catedraticos")'">Catedráticos</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "AsignacionCurso")'">Cursos Asignados</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Alumnos")'">Alumnos</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "AsignacionAlumno")'">Alumnos asignados</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Actividades")'">Actividades</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Calificaciones")'">Calificaciones</button>

    </div>

    <center>
        <img src="~/img/logo.png" class="img-responsive img-circle " width="400" height="400">
    </center>
</body>