@model GestionNotasCunor.Models.calificacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>calificacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Actividad", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.id_actividad, "id_actividad", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("id_actividad", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_actividad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Carnet", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.id_alumnno, "id_alumnno", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("id_alumnno", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_alumnno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Calificacion obtenida", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.cal_obtenida, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.cal_obtenida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cal_obtenida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
