@model GestionNotasCunor.Models.calificacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Está segudo que desea eliminar?</h3>
<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cal_obtenida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cal_obtenida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividad.nom_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividad.nom_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alumno.carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.carnet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
